body {
  font-family: 'Work Sans', sans-serif;
  --bs-primary: #1c3dca;
  --bs-primary-rgb: 28,61,202;
  --bs-info: #02aaff;
  --bs-info-rgb: 2,170,255;
  --bs-dark: #131416;
  --bs-dark-rgb: 19,20,22;
  --bs-body-color: var(--bs-white);
  --bs-body-bg: var(--bs-gray-800);
  --bs-body-font-weight: 300;
}

p, h2, h5, h3 {
 font-family: 'PlayfairDisplay-Regular', sans-serif;
}
.container {
  height: 100%;
  max-width: 960px;
}

.photo-gallery {
  color:#313437;
  background-color:#333;
}

.photo-gallery p {
  color:#d0d3d5;
}

nav{
  background-color: #d0d3d5;}

.fas fa-heart{
color:red;}

.photo-gallery h2 {
  font-weight:bold;
  margin-bottom:40px;
  padding-top:40px;
  color:white;
}

@media (max-width:767px) {
  .photo-gallery h2 {
    margin-bottom:25px;
    padding-top:25px;
    font-size:24px;
  }
}

.photo-gallery .intro {
  font-size:16px;
  max-width:500px;
  margin:0 auto 40px;
}

.photo-gallery .intro p {
  margin-bottom:0;
}

.photo-gallery .photos {
  padding-bottom:20px;
}

.photo-gallery .item {
  padding-bottom:30px;
}

h4.text-center{
color:white;}

.text-badge {
  padding: .1em .4em;
  background: var(--bs-dark);
}

.banner {
  padding: 2em 1em;
  text-align: center;
  background: var(--bs-primary);
  border-radius: 1em;
}

.projects {
  --bs-gutter-y: 1.5rem;
}

footer {
  background: var(--bs-gray-900);
  color:white;
}


@font-face {
font-family: "PlayfairDisplay-Regular";
src: url("../fonts/PlayfairDisplay-Regular.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}

@font-face {
font-family: "Caveat-Regular";
src: url("../fonts/Caveat-Regular.ttf") format("truetype");
font-style: normal;
font-weight: normal;

@font-face {
font-family: "BadScript-Regular";
src: url("../fonts/BadScript-Regular.ttf") format("truetype");
font-style: normal;
font-weight: normal;
}

