{% extends 'base.html' %}
{% block title %}
Обо мне
{% endblock %}
{% block main %}
<div class="container text-left">
  <div class="row">
    <div class="col">
      <h5 class="my-3"><strong>Провожу индивидуальные занятия по классу гитары:</strong> <br><br>

Уникальная программа обучения; <br>
Гитарная классика, песенный аккомпанемент; <br>
Обучение игре по нотам и табулатуре; <br>
Богатая нотная библиотека. <br><br>
<strong>О себе:</strong> <br> <br> Действующий преподаватель ДМШ по классу гитары с более чем 30-ти летним опытом преподавания,
          лауреат и призер конкурсов педагогического мастерства. <br>
За годы работы мною выпущено много учеников, имеющих дипломы лауреатов различных конкурсов и связавших свою жизнь с музыкой.
          По ссылке на видео можно посмотреть игру моих учеников.<br>
Занятия проходят онлайн. Длительность урока 40 минут.</h5>
    </div>
    <div class="col">
      <div class="container">
    <h3 class="my-3" style="color:white">Lachapelle Claude <br>"Samba Cubana"</h3>
    <iframe class="my-3" width="450" height="330" src="https://www.youtube.com/embed/pvuRqv7l5ko" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</iframe>
</div>
    </div>
  </div>


{% endblock %}
