{% extends 'base.html' %}

{% block title %}
Новости, статьи, видео
{% endblock %}

{% block nav %}
{% include 'posts/includes/nav.html' %}
{% endblock %}

{% block main %}
<div class="col-8 mx-auto">
<h1 class="pt-4">Новости, полезные статьи</h1>
    <h1>{% for post in pages.items %}
        {% include 'posts/includes/cards.html' %}
        {% endfor %}
    </h1>


<nav aria-label="...">
  <ul class="pagination">
    <li class="page-item {% if not pages.has_prev %} disabled {% endif %}">
      <a class="page-link" href="./?page={{ pages.prev_num }}">Предыдущая</a>
    </li>
      {% for page in pages.iter_pages() %}
        <li class="page-item {% if page==pages.page %} active {% endif %}">
            <a class="page-link" href="./?page={{page}}">{{ page }}</a>
        </li>

      {% endfor %}

    <li class="page-item {% if not pages.has_next %} disabled {% endif %}">
      <a class="page-link" href="./?page={{ pages.next_num }}">Следующая</a>
    </li>
  </ul>
</nav>
    </div>
{% endblock %}
